body {
  margin: 0 auto;
  width: 75%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

form {
  margin-top: 0.5%;
}

form button {
  width: 100px;
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 1%;
  position: relative;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.delete {
  top: 5px;
  right: 5px;
  position: absolute;
  color: darkred;
}

.delete:hover {
  cursor: pointer;
  color: red;
}
